trash/
*.aux
*.bak
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.synctex.gz

#The output should not be versioned
paper.pdf

#temporary files by gradle
.gradle

#temporary file produced by lncs_as branch
latex.zip

#Files versioned by springer
llncs.cls
splncs03.bst
