name: Update Files
on:
  push:
    branches: [ switch-to-github-actions ]
  workflow_dispatch:
jobs:
  generatetex:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        language: [en, de]
        font: [default, times]
        listings: [listings, minted]
        cleveref: [true]
        enquotes: [csquotes]
        tweak_outerquote: [babel]
        todo: [pdfcomment]
        examples: [true]
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.8.0
        with:
          access_token: ${{ github.token }}
      - name: Set up Git repository
        uses: actions/checkout@v2
        with:
          submodules: recursive
          path: 'code'
      - uses: actions/setup-node@v1
        with:
          node-version: '14'
      - name: Set up Python 3.x
        uses: actions/setup-python@v2
        with:
          # Semantic version range syntax or exact version of a Python version
          python-version: '3.x'
          # Optional - x64 or x86 architecture, defaults to x64
          architecture: 'x64'
        if: ${{ matrix.listings == 'minted' }}
      - name: Install pygments
        run: |
          python -m pip install --upgrade pip
          pip install pygments
        if: ${{ matrix.listings == 'minted' }}
      - name: Make generator available globally
        working-directory: ${{ github.workspace }}/code/generator-latex-template
        run: |
          npm link
          npm install -g yo
      - name: Prepare generation
        id: createllncs
        shell: bash
        run: |
          mkdir tmp
          cd tmp
          if [ "$LLNCS_CLS" == "" ]; then
            echo ::set-output name=lncsclspresent::false
          else
            echo ::set-output name=lncsclspresent::true
            echo "$LLNCS_CLS" > llncs.cls
          fi
        env:
          LLNCS_CLS: ${{secrets.LLNCS_CLS}}
      - name: Generate template
        shell: bash
        working-directory: ${{ github.workspace }}/tmp
        run: |
          yo latex-template\
           --githubpublish\
           --documentclass=lncs\
           --latexcompiler=pdflatex\
           --bibtextool=bibtex\
           --texlive=2021\
           --language=${{ matrix.language }}\
           --font=${{ matrix.font }}\
           --listings=${{ matrix.listings }}\
           --cleveref=${{ matrix.cleveref }}\
           --enquotes=${{ matrix.enquotes }}\
           --tweak_outerquote=${{ matrix.tweak_outerquote }}\
           --todo=${{ matrix.todo }}\
           --examples=${{ matrix.examples }}
        env:
          yeoman_test: true
        if: ${{ steps.createllncs.outputs.lncsclspresent }}
      - name: Check build (latexmk)
        uses: dante-ev/latex-action@edge
        with:
          root_file: paper.tex
          # ${{ github.workspace }} holds wrong directory (only valid for "run" tasks, not for container-based tasks)
          # See https://github.community/t/how-can-i-access-the-current-repo-context-and-files-from-a-docker-container-action/17711/8 for details
          working_directory: /github/workspace/tmp
        if: ${{ steps.createllncs.outputs.lncsclspresent }}
      - name: Prepare files
        working-directory: ${{ github.workspace }}/tmp
        run: |
          if [ ${{ matrix.cleveref }} ]; then
            mv paper.tex paper-${{ matrix.language }}-${{ matrix.font }}-${{ matrix.listings }}-cleveref.tex
          else
            mv paper.tex paper-${{ matrix.language }}-${{ matrix.font }}-${{ matrix.listings }}.tex
          fi
          # remove compiled output
          rm paper.pdf
          # remove files which should not be overwritten
          rm LICENSE

          # copy everything
          cp -r * ../code/

          cd ../code/
          git status
      - name: Commit changes
        uses: EndBug/add-and-commit@v7
        with:
          message: 'Update files based on generated files by template generator'
          push: false
          pull_strategy: 'NO-PULL'
          cwd: 'code'
      - name: Push changes
        run: |
          cd code
          git pull --rebase
          git push
  publish:
    runs-on: ubuntu-latest
    needs: [generatetex]
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v2
      - run: |
          cp paper-en-default-listings-cleveref.tex paper.tex
          cp paper-en-default-minted-cleveref.tex paper-minted.tex
          cp paper-en-times-listings-cleveref.tex paper-newtx.tex
          cp paper-en-times-minted-cleveref.tex paper-minted-newtx.tex
      - name: Prepare generation
        id: createllncs
        shell: bash
        run: |
          if [ "$LLNCS_CLS" == "" ]; then
            echo ::set-output name=lncsclspresent::false
          else
            echo ::set-output name=lncsclspresent::true
            echo "$LLNCS_CLS" > llncs.cls
          fi
        env:
          LLNCS_CLS: ${{secrets.LLNCS_CLS}}
      - name: Build paper.tex
        uses: dante-ev/latex-action@edge
        with:
          root_file: paper.tex
      - name: Build paper-minted.tex
        uses: dante-ev/latex-action@edge
        with:
          root_file: paper-minted.tex
      - name: Build paper-newtx.tex
        uses: dante-ev/latex-action@edge
        with:
          root_file: paper-newtx.tex
      - name: Build paper-minted-newtx.tex
        uses: dante-ev/latex-action@edge
        with:
          root_file: paper-minted-newtx.tex
      - run: |
          mkdir publish
          cp *.pdf publish/
          cp paper.tex publish/
          cp README.md publish/
          cp .github/_config.yml publish/
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./publish
          enable_jekyll: true
