name: Update Files
on:
  push:
  workflow_dispatch:
concurrency:
  group: update-files
  cancel-in-progress: true
jobs:
  generatetex:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        language: [en, de]
        font: [default, times]
        listings: [listings, minted]
        cleveref: [true]
        enquotes: [csquotes]
        tweak_outerquote: [babel]
        todo: [pdfcomment]
        examples: [true]
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v2
        with:
          submodules: recursive
          path: 'code'
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        with:
          driver-opts: network=host
      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx
      - uses: actions/setup-node@v1
        with:
          node-version: '14'
      - name: Update npm
        run: npm i -g npm@latest
      - run: npm i npm@latest
      - name: Make generator available globally
        working-directory: ${{ github.workspace }}/code/generator-latex-template
        run: |
          npm link
          npm install -g yo
      - name: Generate template
        shell: bash
        working-directory: ${{ github.workspace }}/tmp
        run: |
          yo latex-template\
           --githubpublish\
           --docker=reitzig\
           --documentclass=lncs\
           --latexcompiler=pdflatex\
           --bibtextool=bibtex\
           --texlive=2021\
           --language=${{ matrix.language }}\
           --font=${{ matrix.font }}\
           --listings=${{ matrix.listings }}\
           --cleveref=${{ matrix.cleveref }}\
           --enquotes=${{ matrix.enquotes }}\
           --tweak_outerquote=${{ matrix.tweak_outerquote }}\
           --todo=${{ matrix.todo }}\
           --examples=${{ matrix.examples }}\
           --howtotext=false
        env:
          yeoman_test: true
      - name: Prepare files
        working-directory: ${{ github.workspace }}/tmp
        run: |
          if [ ${{ matrix.cleveref }} ]; then
            mv paper.tex paper-${{ matrix.language }}-${{ matrix.font }}-${{ matrix.listings }}-cleveref.tex
          else
            mv paper.tex paper-${{ matrix.language }}-${{ matrix.font }}-${{ matrix.listings }}.tex
          fi
          # remove compiled output
          rm paper.pdf
          # remove files which should not be overwritten
          rm LICENSE

          # copy everything
          cp -r * ../code/

          cd ../code/
          git status
      - name: Commit changes
        uses: EndBug/add-and-commit@v7
        with:
          message: 'Update files based on generated files by template generator'
          committer_email: actions@github.com
          push: false
          pull_strategy: 'NO-PULL'
          cwd: 'code'
      - name: Push changes
        run: |
          cd code
          git pull --rebase
          git push
  update:
    runs-on: ubuntu-latest
    needs: [generatetex]
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v2
      - run: |
          cp paper-en-default-listings-cleveref.tex paper.tex
      - name: Commit changes
        uses: EndBug/add-and-commit@v7
        with:
          message: 'Update files based on generated files by template generator'
          committer_email: actions@github.com
          push: false
          pull_strategy: 'NO-PULL'
      - name: Push changes
        run: |
          git pull --rebase
          git push
  publish:
    runs-on: ubuntu-latest
    needs: [generatetex]
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v2
      - run: |
          cp paper-en-default-listings-cleveref.tex paper.tex
          cp paper-en-default-minted-cleveref.tex paper-minted.tex
          cp paper-en-times-listings-cleveref.tex paper-newtx.tex
          cp paper-en-times-minted-cleveref.tex paper-minted-newtx.tex
      - name: Build docker image
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: localhost:5000/name/app:latest
      - name: Build paper.tex
        run: |
          mkdir /tmp/out
          docker run -v $(pwd):/work/src -v /tmp/out:/work/out localhost:5000/name/app:latest work "latexmk paper.tex"
      - name: Build paper-minted.tex
        run: docker run -v $(pwd):/work/src -v /tmp/out:/work/out localhost:5000/name/app:latest work "latexmk paper-minted.tex"
      - name: Build paper-newtx.tex
        run: docker run -v $(pwd):/work/src -v /tmp/out:/work/out localhost:5000/name/app:latest work "latexmk paper-newtx.tex"
      - name: Build paper-minted-newtx.tex
        run: docker run -v $(pwd):/work/src -v /tmp/out:/work/out localhost:5000/name/app:latest work "latexmk paper-minted-newtx.tex"
      - run: |
          mkdir publish
          cp /tmp/out/*.pdf publish/
          cp paper.tex publish/
          cp README.md publish/
          cp .github/_config.yml publish/
      - name: Deploy
        if: github.ref == 'refs/heads/main'
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./publish
          enable_jekyll: true
